<!DOCTYPE html>
<html>
<head>
  <title>CC Generator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<header class="navbar navbar-inner">
	  <div class="container">
			  <%=link_to "Gerador", root_path, {class:"brand"}%>
	      <nav class="nav-collapse">
	        <ul class="nav">
	        </ul>
	      </nav>
	    </div>
	</header>
	<div class= "container-fluid">
<%= yield %>
</div>
</body>
</html>
